* {
    box-sizing: border-box;
 }
 
body{
    background: url(/images/Фон\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    

}
.container{
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px; 
    background: rgba(0, 0, 0, 0.40); 
}
.name{
    width: 157px;
    height: 22px; 
    color: #FFF; 
    font-size: 22px; 
    font-weight: 700; 
    padding-left: 79px;
}
.name:hover{
    color: #01813F;
    transition: 0.5s;
}

.icon-link{
    display: flex;
    align-items: center

}
.icon{
    display: flex;
    justify-content: space-between;
    width: 126px;
    height: 24px;
    margin-right: 25px;  
    padding: 1px 5px 1px 3px; 
}

.calendar:hover path{
    fill: #01813F;
    transition: 0.5s;
}
.envelope:hover path{
    fill: #01813F;
    transition: 0.5s;
}
.compass:hover path{
    fill: #01813F;
    transition: 0.5s;
}

.link{
    color: #FFF;
    font-size: 14px;
    font-weight: 400; 
    padding-right: 79px;
}

.link a:hover{
    color: #01813F;
    transition: 0.5s;
}

.link::before{
    content: '';    
    border-left: 1px solid #828282;
    padding: 1px 27px 2px 0;
}


.link a{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 58px);  
}

.login{  
    display: flex; 
    flex-direction: column;
    position: relative;
    width: 444px;
    height: 584px;
    background: #FFF; 
           
}
.shape{
    position: absolute;
    top: 29px;
    left: 0;
    width: 18px;
    height: 18px;
    background: #3CB878;
    border: none;
}
.user{
    display: flex;
    justify-content: space-between;
}

.sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 69px;
    height: 14px;
    color: #434343; 
    font-size: 20px;
    font-weight: 400;  
    margin-top: 31px;
    margin-left: 61px;
    text-decoration: none;    
}

.log-in{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 39px;
    height: 14px; 
    font-size: 14px;    
    font-weight: 400; 
    margin-top: 33px;
    margin-right: 59px;
    text-decoration: none;
    color: #3CB878;    
}

.log-in:hover{
    text-decoration: underline;
    transition: 0.7s;
}
.social-network{
    display: flex;
    justify-content: space-between;
}

.button-fb,
.button-google{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 160px;
    height: 48px;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    margin-top: 13px;
}

.button-fb{     
    background-color: #305DB8;
    margin-left: 60px;    
}
.button-fb:hover{
    background-color:#022263;
    transition: 0.7s;
}
.icon-fb{
    margin-left: 11px;
}
.name-fb{    
    margin-right: 22px;
}

.name-fb::before{
    content: '';    
    border-left: 1px solid #2D58AF;
    padding: 10px 0px 10px 18px;
}

.button-google{
    background-color:#DF4A32;
    margin-right: 60px;
}
.button-google:hover{
    background-color: #AB1F09;
    transition: 0.7s;
}

.icon-google{
    margin-left: 12px;
}
.name-google{    
    margin-right: 27px;
}

.name-google::before{
    content: '';    
    border-left: 1px solid #CD442E;
    padding: 10px 0px 10px 30px;
}

.or{
    text-align: center;
    color: #848484;
    font-size: 14px;
    font-weight: 400; 
    border-top: 1px solid #f2f2f2;
    margin: 33px 61px 0;
}

#input-name,
#input-last-name,
#input-email,
#input-choose-passworde,
#input-confirm-password{
    width: 324px;
    border-radius: 4px;
    border: 1px solid #F2F2F2; 
    color: #BEBEBE;
    font-size: 14px;
    font-weight: 400; 
    padding-left: 20px;
    margin: 8px 60px 7px 60px;
}

#input-name:focus,
#input-last-name:focus,
#input-email:focus,
#input-choose-passworde:focus,
#input-confirm-password:focus{
    color: #434343;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    outline: none;
}

#input-name,
#input-last-name,
#input-email{
    height: 44px; 
}

#input-choose-passworde,
#input-confirm-password{
    height: 45px;
}

input[type="checkbox"]{
   display: none; 
}

input[type=checkbox] + label:before {
    content: "";
    color: transparent;
    display: inline-block;
    border: 1px solid #F2F2F2;
    margin: 5px 0 0 62px;
    height: 20px;
    width: 20px;
    vertical-align: sub;
} 
.agree-with-our{ 
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    padding-left: 8px;
}
.terms-conditions{
    color: #3CB878; 
}
.terms-conditions:hover{
    text-decoration: underline;
    color: #01813F; 
    transition: 0.7s;
}

input[type=checkbox]:checked + label:before{
   background: url(/images/Vector\ 1.svg);
   background-repeat: no-repeat;
}

.btn-green{
    width: 324px;
    height: 46px; 
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80); 
    color: #FFF;
    font-size: 16px;
    font-weight: 400; 
    margin: 20px 60px 0;
    border: none;
}

.btn-green:hover{
    background: #01813F; 
    transition: 0.7s;
}

